*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "tailwindcss";
@plugin '../hero.js';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  p {
    font-size: revert;
    font-weight: revert;
  }
}